*,*::before,*::after{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Allerta Stencil', sans-serif;
    background-color: #b7b868;
}
/*
#ffddc9 - color del fondo del header
#d9594c - color del fondo de los botones del header
#b7b868 - color del fondo de la pagin
*/
.container-nav{
    background-color: #ffddc9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 100%;
    grid-gap: 40px;
}
a{
    text-decoration: none;
}
.nav-a-linkbotton{
    display: flex;
    background-color: #d9594c;
    padding: 15px;
    border-radius: 15px;
    font-weight: 400;
    color: white;
    font-size: 1.8rem;
}
.nav-a-linkbotton:hover{
    background-color: #f33e2a;
    border: 4px solid #d9594c;
    transition: 0.1s;
}
.nav-a-linkbotton:focus{
    background-color: #d9594c;
    border: 4px solid white;
    transition: 0.2s;
}
.nav-div-a-home{
    display: flex;
    margin-top: 35px;
    width: 150px;
    border-radius: 50%;
}
.div-pasteles{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 60px;
}
#pastel{
    border-radius: 8%;
    height: 29rem;
}
#pastel2{
    height: 52rem;
}
.titulo{
    font-size: 5rem;
    text-decoration: none;
    color: #d9594c;
    display: flex;
    justify-content: center;
}
